*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.hero-section .hero-img {
    margin-top: 35px;
    animation-name: img;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes img {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}